<html>
    <head>
        <title>Landing Page</title>
        <style>
            .head{
                float:left;
                width: 30%;
                text-align: center;
            }
            .head img{
                margin: auto;
                width: 100%;
            }
            .brand{
                float: left;
            }
            .col-12{
                width: 100%;
            }
            .col-12 img{
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="head logo-left">
            <img src="./../../images/Padi.jpg" alt="">
        </div>
        <div class="head tile-midle">title</div>
        <div class="head logo-right">
            <img src="./../../images/mbloc.JPG" alt="">
        </div>
        <div class="row">
            <div class="col-12">
                <img src="./../../uploads/sponsors/sponsor20221228045341.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="brand col-6">
                <img src="./../../uploads/brands/BRAND1.jpg" alt="">
            </div>
            <div class="brand col-6">
                <img src="./../../uploads/brands/BRAND2.jpg" alt="">
            </div>
            <div class="brand col-6">
                <img src="./../../uploads/brands/BRAND3.jpg" alt="">
            </div>
            <div class="brand col-6">
                <img src="./../../uploads/brands/BRAND4.jpg" alt="">
            </div>
        </div>
    </body>
</html>